@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: blue;
    background-color: rgb(21, 188, 127);
}

h2 {
    color: burlywood;
    background-color: cyan;
}